.main-page {
    position: relative;
    height: 100vh;
    overflow: hidden;

    &.light-mode {
        background-color: $bg-color-light;
        color: $text-color-light;
    }

    &.dark-mode {
        background-color: $bg-color-dark;
        color: $text-color-dark;
    }
}

.content {
    position: relative;
    z-index: 1;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

.header {
    .title {
        font-size: 48px;
    }

    .subtitle {
        font-size: 24px;
    }

    .theme-toggle {
        margin-top: 20px;
        padding: 10px;
        cursor: pointer;
        background: transparent;
        border: 1px solid;
        color: inherit;
    }
}

.main-content {
    margin-top: 20px;

    .author,
    .institution {
        font-size: 18px;
        font-weight: bold;
    }
}